
 <div class="chat-container  container-fluid p-3" > 
  <div class="show">
    <div *ngFor="let msg of messages" [ngClass]="{'sent': msg.sender.id === senderId, 'received': msg.sender.id !== senderId}" class="message mb-3 p-2">
      <p  class="mb-1">{{ msg.message }}</p>
      <small  class="text-muted">{{ msg.createdAt | date:'short' }}</small>
    </div> 
    <div class="input-container   input-group mt-3">
      <input type="text" [(ngModel)]="newMessage"  class="form-control" placeholder="Type a message...">
      <button (click)="sendMessage()"  class="btn btn-outline-danger">Send</button>
    </div>
  </div>
  
</div>
