    <div class="row justify-content-center">
        <div class="">
            <div class="">
                
                <div class="card-body">
                    <form action="" method="">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" >
                        </div>
                        
                        <div class="mb-3">
                            <label for="spec" class="form-label">Specialty</label>
                            <select class="form-select" id="spec" name="spec" >
                                <option value="1">Cardiology</option>
                                <option value="2">Dermatology</option>
                                <option value="3">Neurology</option>
                                <!-- Add more options as needed -->
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" >
                        </div>
                        <div class="mb-3">
                            <label for="Tele" class="form-label">Telephone</label>
                            <input type="text" class="form-control" id="Tele" name="Tele" >
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" >
                        </div>
                        <div class="mb-3">
                            <label for="cpassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="cpassword" name="cpassword" >
                        </div>
                        <button type="submit" class="btn btn-primary">Add Doctor</button>
                    </form>
                </div>
            </div>
        </div>
    
</div>
