.sidebar {
    width: 350px;
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}

.dashboard-card {
    transition: transform 0.3s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.scrollable-table {
    max-height: 250px;
    overflow-y: auto;
}
.modal-content{
  background-image: url("../../../public/img/bg11.jpg");
}
