    
    <div class="text-center mb-5">
        <img src="logo/log (2).png" alt="Logo" class="img-fluid rounded-circle" style="width: 150%;">
    </div>
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link" routerLink="/admin/dashbord">
                <i class="material-symbols-outlined me-2">dashboard</i>Dashboard
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link active" routerLink="/all/doctor">
                <i class="material-symbols-outlined me-2">group</i>Doctors
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link"routerLink="/amdin/schedule">
                <i class="material-symbols-outlined me-2">calendar_month</i>Schedule
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" routerLink="admin/appointments">
                <i class="material-symbols-outlined me-2">event_available</i>Appointments
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" routerLink="/all/patients">
                <i class="material-symbols-outlined me-2">personal_injury</i>Patients
            </a>
        </li>
        <li class="nav-item mt-4 border-top pt-3">
            <a class="nav-link" (click)="logout()">
                <i class="material-symbols-outlined me-2">logout</i>Logout
            </a>
        </li>
    </ul>
