<div class="hero_area">
  <div class="hero_bg_box">
    <img src="img/Doctor Using Tablet_1739353733.jpg" alt="" />
  </div>

  <!-- header section strats -->
  <header class="header_section">
    <div class="">
      <nav class="navbar-expand-lg custom_nav-container" id="navbar">
        <div class="loooo">
          <img src="logo/log (3).png" alt="" style="width: 20%" />
          <span class="darke-text Carelink"> Carelink </span>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class=""> </span>
        </button>

        <div class="" id="">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section">
    <div id="customCarousel1" class="" data-ride="carousel">
      <div class="">
        <div class="active">
          <div class="container">
            <div class="row">
              <div class="">
                <div class="detail-box">
                  <h1 class="dekko-regular">
                    We Provide Best
                    <br />
                    Healthcare
                  </h1>

                  <div class="btn-box">
                    <a routerLink="/login" class="btn1"> login </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>

<br /><br />
<section class="about_section layout_margin-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img
            src="img/StockCake-Focused Medical Professional_1739352905.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container" id="h2">
            <h2 class="h2">About <span>Us</span></h2>
          </div>
          <p>
            At <span id="Carelink">Carelink</span>, we are committed to
            transforming patient care through the power of modern technology. By
            embedding IT solutions into healthcare, we streamline processes,
            enhance accessibility, and create an interconnected system that
            prioritizes efficiency and accuracy. From seamless appointment
            scheduling to secure patient data management, our goal is to reduce
            errors, improve outcomes, and make healthcare simpler, faster, and
            more reliable for everyone. Innovation drives us, and we believe
            technology should empower both patients and providers to achieve
            better health and well-being.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about_section1 layout_margin-bottom servi">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container" id="h22">
            <h2 class="">Doctor's Services</h2>
          </div>
          <div class="department_section">
            <div class="sever">
              <div class="container">
                <div class="row" id="row">
                  <div class="row gap-5">
                    <div class="col-md-3">
                      <div class="box">
                        <div class="img-box">
                          <img src="home/s1.png" alt="" />
                        </div>
                        <div class="detail-box">
                          <h5>Cardiology</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box">
                        <div class="img-box">
                          <span class="material-symbols-outlined chat">
                            diagnosis
                          </span>
                        </div>
                        <div class="detail-box">
                          <h5>Diagnosis</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row gap-5">
                    <div class="col-md-3">
                      <div class="box">
                        <div class="img-box">
                          <span class="material-symbols-outlined chat">
                            chat
                          </span>
                        </div>
                        <div class="detail-box">
                          <h5>Contact Doctors</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box">
                        <div class="img-box">
                          <span class="material-symbols-outlined chat">
                            mark_unread_chat_alt
                        </span>                        </div>
                        <div class="detail-box">
                          <h5>CONTACT </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img
            src="img/StockCake-Healthcare Team Celebrates_1739364116.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<br />
<section class="about_section1 layout_margin-bottom servi">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img
            src="img/StockCake-Compassionate Medical Care_1739367927.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container" id="h22">
            <h2 class="text-cente">Patient's Services</h2>
          </div>
          <div class="department_section">
            <div class="sever">
              <div class="container">
                <div class="row" id="row">
                  <div class="row gap-5">
                    <div class="col-md-3">
                      <div class="box">
                        <div class="img-box">
                          <span class="material-symbols-outlined chat">
                            event_available
                          </span>
                        </div>
                        <div class="detail-box">
                          <h5>booking</h5>
                          <p></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box">
                        <div class="img-box">
                          <span class="material-symbols-outlined chat">
                            medication
                          </span>
                        </div>
                        <div class="detail-box">
                          <h5>medical history</h5>
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row gap-5">
                    <div class="col-md-3">
                      <div class="box">
                        <div class="img-box">
                          <span class="material-symbols-outlined chat">
                            chat_bubble
                          </span>
                        </div>
                        <div class="detail-box">
                          <h5>contact patients</h5>
                          <p></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box">
                        <div class="img-box">
                          <span class="material-symbols-outlined chat">
                            chat
                          </span>
                        </div>
                        <div class="detail-box">
                          <h5>contact doctors</h5>
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- client section -->

<!-- end client section -->

<!-- footer section -->
<div class="footer_section">
  <div class="container">
    <div class="">
      <div class="col-md-6 col-lg-3">
        <div class="text-cente">
          <h4 class="text-cente">WELCOME CARELINK</h4>
        </div>
      </div>
    </div>
  </div>
</div>
