<div class="container-fluid">

    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 sidebar p-3">
            <app-navbardocter></app-navbardocter>
        </div>

        <!-- Main Content -->
        <div class="col-md-10 p-4 ">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light  border-bottom">
                <div class="container-fluid">
                    <div class="d-flex align-items-center">
                        <button class="btn btn-outline-secondary d-md-none me-3" type="button">
                        </button>
                    </div>

                    <ul class="navbar-nav ms-auto">


                        <li class="nav-item dropdown">
                            <a class="">
                                <img src="../img/profile.png"  width="40px">
                            </a>

                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Content -->
            <div class="container-fluid p-4">
                <!-- Filter Section -->
                <div class="card mb-4">
                    <div class="card-body">
                            <div class="col-md-3" id="filet">
                                <label class="form-label labl ">Filter by Patient:</label>
                                <input type="text" [(ngModel)]="search" (input)="filter()"
                        placeholder="Search by Patient Name ..." class="form-control">
                    </div>
                </div>

                <!-- Appointments Table -->
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th>Patient Name</th>
                                        <th class="text-center">Appointment Date</th>
                                        <th class="text-center">Appointment Time</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let appointment of filtredAppointments">
                                        <td style="font-weight: 500;" *ngIf="appointment.doctor.id==doctor.id">{{appointment.patient.user.firstname}} {{appointment.patient.user.lastname}}</td>
                                        <td class="text-center" *ngIf="appointment.doctor.id==doctor.id">{{appointment.time | date}}</td>
                                        <td class="text-center" *ngIf="appointment.doctor.id==doctor.id">{{appointment.time | date: 'shortTime'}}</td>
                                        <td *ngIf="!isPastAppointment(appointment.time)">
                                          <div class="d-flex gap-2">
                                            <button (click)="chat(appointment.patient.user.id)" data-bs-toggle="modal" data-bs-target="#chat" class="btn btn-sm btn-outline-primary">
                                              <i class="material-symbols-outlined">
                                                3p
                                              </i>
                                            </button>
                                            <button (click)="deleteApp(appointment.id)"
                                            class="btn btn-danger btn-sm"
                                            >
                                            <i class="fas fa-times me-1"></i>
                                          </button>
                                        </div>
                                        </td>
                                        <td *ngIf="isPastAppointment(appointment.time)">
                                          <div class="d-flex gap-2">
                                            <button (click)="chat(appointment.patient.user.id)" data-bs-toggle="modal" data-bs-target="#chat" class="btn btn-sm btn-outline-primary">
                                              <i class="material-symbols-outlined">
                                                  3p
                                              </i>
                                          </button>
                                          <button
                                          class="btn btn-danger btn-sm"
                                          disabled
                                          >
                                          <i class="fas fa-times me-1"></i>
                                        </button>

                                        </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="chat" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-chat [doctorId]=selectedDoctorId></app-chat>

        </div>

      </div>
    </div>
  </div>




<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Custom JS -->

