<div class="center">
    <div class=" back">

    </div>
    <div class="col-lg-6 col-md-5 d-flex login-box box-skew1">
        <div class="container"> 
            <div class="table">
            <table border="0">

                <tr class="lo">
                    <td colspan="4" class="looggg">
                        <a class="login-logo" href="">
                            <img src="logo/logo.png" alt="" width="20px">
                        </a>
                        <p class="header-text">Let's Get Started</p>
                        <p class="sub-text">Add Your Personal Details to Continue</p>
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <label for="name" class="form-label">Name: </label>
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <input type="text" name="fname" class="input-text" placeholder="First Name">
                    </td>
                    <td class="label-td">
                        <input type="text" name="lname" class="input-text" placeholder="Last Name">
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <label for="address" class="form-label">Address: </label>
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <input type="text" name="address" class="input-text" placeholder="Address">
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <label for="Image" class="form-label">Image: </label>
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <input type="file" name="file" class="input-text">
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <label for="dob" class="form-label">Date of Birth: </label>
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <input type="date" name="dob" class="input-text">
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                    </td>
                </tr>
            </table>
            <table class="table1">
                <tr>
                    <td class="label-td" colspan="2">
                        <label for="newemail" class="form-label">Email: </label>
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <input type="email" name="newemail"  id="input"class="input-text" placeholder="Email Address">
                    </td>

                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <label for="tele" class="form-label">Mobile Number: </label>
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <input type="tel" name="Number"  id="input" class="input-text" placeholder="ex: 0712345678">
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <label for="password" class="form-label">Create New Password: </label>
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <input type="password" name="password"  id="input" class="input-text" placeholder="New Password"
                            >
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2">
                        <label for="cpassword" class="form-label">Confirm Password: </label>
                    </td>
                </tr>
                <tr>
                    <td class="label-td" colspan="2"> 
                        <input type="password" name="cpassword"  id="input" class="input-text" placeholder="Confirm Password"
                            >
                    </td>
                </tr>

            </table></div>
        </div>
        <div class="btnss">  
            <div class="btnsr">
            <p>
                <input type="reset" value="Reset" class="login-btn btn-primary-soft btn">
            </p>
            <p>
                <input type="submit" value="Next" class="login-btn btn-primary btn">
            </p> 
        </div>

        

            <div  >
                <span colspan="2">
                    <br>
                    <label for="" class="sub-text" style="font-weight: 280;">Already have an account&#63; </label>
                    <a routerLink="/" class="link">Login</a>
                </span>
             
            </div>
        </div> 
    </div>
</div>