<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-lg-10 col-md-8">
            <div class="login-box">
                <div class="row">
                    <!-- Left Section -->
                    <div class="col-md-6 text-center">
                        <img src="logo/urgent1.png" alt="Profile Image" class="img-fluid mb-4" style="max-width: 80%;">
                    </div>

                    <div class="col-md-6">
                        <div class="steps-container">
                            <form #EmergForm="ngForm" (ngSubmit)="submit()" method="post"  id="step1" class="form-step step-active">
                                    <div class="mb-4"> 
                                        <label for="" class="font-monospace fs-4">Put the number of someone you can contact in case of an emergency</label>
                                        <br><br><br>
                                        <input type="text" [(ngModel)]="data.emergContact" name="emergContact" class="input-text" placeholder="ex: 0712345678">
                                    </div>
                            
                               <br><br>
                                <div class="text-center">
                                    <button type="submit" class="login-btn btn-danger btn">Next</button>
                                </div>
                            </form>

                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
