<div class="">
  <div class=" cont">

    <div class="login-box">
      <div class="log">
        <div>
          <a class="" href="">
            <img src="logo/log (2).png" alt="" width="50%">
          </a>
          <h3>Welcome to Carelink</h3>
          <p>Sign in by entering information below</p>
        </div>
      </div>

      <!-- Form starts here -->
      <div>
        <div class="login">
          <form #loginForm="ngForm" (ngSubmit)="login()">
            <div>
              <div>
                <div class="label">
                  <label for="useremail" class="form-label">Email: </label>
                </div>
              </div>
              <div>
                <div class="label">
                  <input type="email" name="email" [(ngModel)]="loginData.email" #email="ngModel" class="form-control"
                    placeholder="Email Address">
                </div>
              </div>

              <div>
                <div class="label">
                  <label for="userpassword" class="form-label">Password: </label>
                </div>
              </div>
              <div>
                <div class="label">
                  <input type="password" name="password" [(ngModel)]="loginData.password" class="form-control"
                    placeholder="Password" >

                </div>
              </div>
              <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
              </div>
            </div>

            <div class="text-center mt-4">
              <button type="submit" class="login-btn btn-primary btn">Login</button>
            </div>
          </form>
        </div>
      </div>

      <div>
        <div style="text-align: center;">
          <br>
          <label class="sub-text" style="font-weight: 280;">Don't have an account&#63;</label>
          <a routerLink="/signup" class="link">Sign-up</a>
        </div>
      </div>
    </div>
    <div><img src="img/background.png" alt="" class="img"></div>

  </div>
</div>