
<div class="center">
    <div class="container">
        <div class="col-lg-6 col-md-5 d-flex back">
        </div>
        <div class="col-lg-6 col-md-5 d-flex login-box box-skew1">
            <table>
                <tr  class="log">  <td>
                    <a class="login-logo" href="">
                        <img src="logo/logo.png" alt="" width="20px">
                    </a>
                  
                        <h3>Welcome to Carelink</h3>
                        <p class="">Sign in by entering information below</p>
                    </td>
                </tr>
                <div class="form-body">
                     <form action="">
                    <tr>
                            <td class="label">
                                <label for="useremail" class="form-label">Email: </label>
                            </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <input type="email" name="useremail" style="width:400px" class="form-control" placeholder="Email Address" >
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="userpassword" class="form-label">Password: </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <input type="Password" name="userpassword"  style="width:400px" class="form-control" placeholder="Password" >
                        </td>
                    </tr>
                
                    <tr>
                        <td><br>
                            <label for="promter" class="form-label">&nbsp;</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Login"  style="width:350px ;margin-left:20px" class="login-btn btn-primary btn">
                        </td>
                    </tr> 
                </form>
                </div>
                <tr>
                    <td  style="text-align: center;">
                        <br>
                        <label for="" class="sub-text" style="font-weight: 280;">Don't have an account&#63; </label>
                        <a  routerLink="/signup" class="link">Sign Up</a>
                        <br><br><br>
                    </td>
                </tr>
            
            </table>
        </div>
       
     </div></div>
