:root {
    --primarycolor: #0A76D8;
    --primarycolorhover: #006dd3;
    --btnice: #D8EBFA;
    --btnnicetext: #1b62b3;
}



body {
    font-family: 'Inter', sans-serif; 

}

.menu-text:active {
    /* color: #fff !important;
      background-color:#36c95f !important;
  /*    padding: 20px 50px !important;*/
    /*    border-radius: 0 1rem 4rem 0 !important;*/
    /*    height: 60px;*/
    /*    padding: 16px;*/
    /*     padding-top: 15px;*/
    background: #0097B2;
    color: #fff;


}

.btn {
    cursor: pointer;
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

.menu-btn:hover {

    color: #0097B2 !important;
}

.btn-success {
    border: none;
    background-color: #ffff;
    color: #0097B2;
}

.menu-text:hover {
    /* color: #fff !important;*/
    /*    background-color:#36c95f !important;*/
    /*    padding: 20px 50px !important;*/
    /*    border-radius: 0 1rem 4rem 0 !important;*/
    /*    height: 60px;*/
    /*    padding: 16px; */
    /*     padding-top: 15px;*/
    background: #0097B2;
    color: #fff;
}

*,
::after,
::before {
    box-sizing: border-box;
}


.cont{
    display: flex; 
    align-items: center;   
    gap:5%;
    
    
}
.img{ 
    width: 90%;
    height: 80%;
    z-index: 1;
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);

}
.login-box {

  
 
    background-color:white;
    display: flex;  
    flex-direction: column;

    border-radius: 8px; 
    padding: 5%; 
    margin-left: 5%;
 
    gap: 20px;
}
.log{
    text-align: center;
}

 h3 {
    text-align: center;
    font-weight: 600; 
    color: #3d4465;

}

p {
    color: #7e7e7e;
    ;
}


.login-logo .img2 {
    width: 120px;
    pad: 10px !important;
    margin-left: 5px;
    margin-bottom: 8px;
}

.header-text {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;

}





.form-label {
    color: #7e7e7e;
    text-align: left;
    font-size: 14px;
}

.form-control:active .form-control:hover {
    border: 1px solid #d7dae3 !important;
}

.login-box .form-control {
    border: 1px solid #d3d3d3;
    padding: 12px;
}

.form-control {
    background: #fff;
    border: 1px solid #d7dae3;
    color: #54473e;
    height: 56px;
    padding: 2px;
    border-radius: 0.75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.




}

.btn-primary {
    color: #fff;
    background-color: #0097B2;
    border-color: #0097B2;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0097B2;
    border-color: #0097B2;
}


.label-td {
    text-align: left;
    padding-top: 10px;
}

.hover-link1 {
    font-weight: bold;
}


.hover-link1:hover {
    opacity: 0.8;
    transition: 0.5s;


}








.link {
    text-decoration: none;
    font-weight: bold;
    color: #212529;
}























