body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
}

.calendar-container {
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    margin-bottom: 20px;
}

.calendar-header h3 {
    margin: 0;
    font-weight: 600;
}
#day{
  margin-bottom: 10px;
}



.calendar-day {
    border: 1px solid #ced5db;
    min-height: 120px;
    padding: 10px;
    transition: all 0.3s;
    border-radius: 8px;
    margin: 2px;
}

.calendar-day:hover {
    background: #e9ecef;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}






.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.list-group-item {
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}






.form-control,
.form-select {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #dee2e6;
}

.form-control:focus,
.form-select:focus {
    border-color: #efdfdf;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}


.day {
    background-color: #dbdde0;

     width: 110%;


}

.days {
    display: flex;
    flex-direction: row;
    gap:4px;


}
.bg{
    background-color: #0096B4;
}
.da{
    width: 15%;
}
