<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-2 sidebar p-3">
        <app-navbardocter></app-navbardocter>
      </div>
      <main class="col-md-10 p-4">
        <div class="container">
          <div class="calendar-container shadow">
            <div class="calendar-header p-3 mb-3 d-flex justify-content-between align-items-center bg">
              <h3 class="mb-0">{{ currentYear }}</h3>
              <select class="form-select w-auto" (change)="selectMonth($event)">
                <option *ngFor="let month of months" [value]="month.value" [selected]="month.value === currentMonth">
                  {{ month.name }}
                </option>
              </select>
            </div>
  
            <div class="row">
                <div class="row row-cols-7 g-0">
                  <div class="col text-center fw-bold py-2 border-bottom">Sun</div>
                  <div class="col text-center fw-bold py-2 border-bottom">Mon</div>
                  <div class="col text-center fw-bold py-2 border-bottom">Tue</div>
                  <div class="col text-center fw-bold py-2 border-bottom">Wed</div>
                  <div class="col text-center fw-bold py-2 border-bottom">Thu</div>
                  <div class="col text-center fw-bold py-2 border-bottom">Fri</div>
                  <div class="col text-center fw-bold py-2 border-bottom">Sat</div>
                </div>
              
                <div *ngFor="let week of listOfWeeks" class="week-container row">
                  <div *ngFor="let dayObj of week" class="col text-center">
                    <button
                      [ngClass]="{
                        'text-muted': dayObj.isPast,
                        'bg-success': dayObj.appointments.length > 0 
                      }"
                      (click)="selectDate(dayObj.day)"
                      [disabled]="dayObj.isPast"
                      class="calendar-day day">
                      {{ dayObj.day }}
                      <ul *ngIf="dayObj.appointments.length > 0">
                        <li *ngFor="let appointment of dayObj.appointments">
                          {{ appointment.patient.user.firstname }} at {{ appointment.time |date: 'shortTime' }}
                        </li>
                      </ul>
                      <div *ngIf="dayObj.appointments.length === 0" class="text-muted">
                        No appointments
                      </div>
                    </button>
                    
                    <!-- Display appointments for the selected day -->
                    
                  </div>
                </div>
              </div>
              
          </div>
        </div>
      </main>
    </div>
  </div>
  