<!-- Sidebar -->
<div class="p-3 text-center">
    <img src="logo/log (2).png" alt="Logo" class="img-fluid rounded-circle" style="width: 150%;">
</div>

<nav class="nav flex-column">
    <a routerLink="/" class="nav-link ">
        <i class="material-symbols-outlined me-2">dashboard</i>
        Dashboard
    </a>
    <a routerLink="/dalldoctreforpa" class="nav-link   rounded">
        <i class="material-symbols-outlined me-2">supervised_user_circle</i>
        Doctors
    </a>
    
    <a routerLink="/pation" class="nav-link">
        <i class="material-symbols-outlined me-2">description</i>
        Appointment
    </a>
    <th></th>
    <div class="mt-auto">
        <a routerLink="/" class="nav-link ">
            <i class="material-symbols-outlined me-2">power_settings_new</i>
            Logout
        </a>
    </div>
</nav>
